
/* ================= */
/* ==== General ==== */
/* ================= */


/* ================= */
/* Colonne de gauche */
/* ================= */

#left_col { /*
  border: solid;
  border-width: 2px;
  border-color: red; */
  margin: 0px;
  margin-bottom: 20px;
  padding: 0px;
}

div#fixed_pannel_div {
  /*background-color: #333333;
  color: #FFFFFF; */
  
  border: solid;
  border-width: 4px;
  border-color: #1e9de5;
  
  padding: 12px;
  margin-left: 5px;
  margin-top: 5px;
  
  width : 95%;
}

h4#fixed_pannel_title {
  font-weight: bold;
}

/* ================= */
/* Colonne de droite */
/* ================= */

#right_col { 
  margin: 0px;
  padding: 0px;
}

div#right_col > div#right_col_div {
  /*background-color: #FFFFFF;
  color: #FFFFFF;*/
  
  border-radius: 8px;
  
  margin: 0px;
  padding: 0px;
  margin-top: 5px;
  margin-right: 5px;
}

/* Mise en forme des sidebar panels */
form.well {
  /*color: #000000;*/
  padding-top: 0px;
  padding: 10px;
  border: solid;
  border-width: 0px;
  border-radius: 8px;
}
form h2 {
  margin: 0px;
}


/* ======= */
/* Samples */
/* ======= */



/* ============= */
/* Training Sets */
/* ============= */

/*
  Options intéressantes
  white-space: pre-wrap;
  overflow-y:scroll;
  max-height: 200px;
  max-width: 300px;
*/

/* ====== */
/* Models */
/* ====== */



/* ======= */
/* Results */
/* ======= */